:root {
    --side-bar-color: #2bc7ea;
    --icon-select-color: #0087a5;
    --tool-tip-bg-color: #8d8d8d;
    --profile-icon-color: #000000;
    --mainsection-bg-color: #ffffff;
    --text-border-color: #000000;
    --indicator-border: #ffffff;
    --indicator-shadow: #000000;
    --profile-icon-bg-color: #2bc7ea;
}

.dark_theme {
    --side-bar-color: #000314;
    --icon-select-color: #bababa1f;
    --tool-tip-bg-color: #ffffff;
    --profile-icon-color: #ffffff;
    --mainsection-bg-color: #000000;
    --text-border-color: #ffffff;
    --indicator-border: #000000;
    --indicator-shadow: #ffffff;
    --profile-icon-bg-color: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body::-webkit-scrollbar,
.main::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    font-family: Sniglet;
    background: var(--mainsection-bg-color);
    display: flex;
}

main {
    scroll-behavior: smooth;
    position: relative;
    width: calc(100% - 50px);
    left: 50px;
    top: 65px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.sidenavbar ul li.assesment {
    background: var(--icon-select-color);
    border-radius: 15px;
}

.page_description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.page_description .page_name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40%;
    padding-block: 80px;
}

.page_description .page_name .page_title {
    color: var(--text-border-color);
    font-size: xx-large;
    border-left: 7px solid var(--text-border-color);
    padding-left: 8%;
    font-family: Montserrat;
    letter-spacing: 12px;
    /* animation-duration: 0.2s; */
    animation-delay: 0s;
}

.page_image {
    width: 60%;
    height: 100%;
    background: url(ASSESMENT/assessment_page_img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-inline: auto;
    animation-duration: 0.2s;
    animation-delay: 0.4s;
}

.track {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 8vh;
}

.track .lesson_1,
.track .lesson_2,
.track .lesson_3,
.track .lesson_4,
.track .congrats {
    display: flex;
    flex-direction: column;
    max-width: 17.7vw;
    /* height: 150px;x */
    transition: all 0.3s ease;
    color: var(--text-border-color);
    animation-duration: 0.4s;
}

.track .lesson_1 {
    animation-delay: 1s;
}

.track .lesson_2 {
    animation-delay: 1.2s;
}

.track .lesson_3 {
    animation-delay: 1.4s;
}

.track .lesson_4 {
    animation-delay: 1.6s;
}

.track .congrats {
    animation-delay: 1.8s;
}

.track .congrats {
    height: fit-content;
}

.track .lesson_1,
.track .lesson_3 {
    justify-content: flex-end;
    margin-bottom: 10px;
}

.track .lesson_2,
.track .lesson_4,
.track .congrats {
    /* margin-bottom: 15px; */
    justify-content: flex-start;
}

.track .lesson_1 svg,
.track .lesson_2 svg,
.track .lesson_3 svg,
.track .lesson_4 svg {
    margin-left: 10%;
    width: 90%;
}

.track .lesson_1 svg path,
.track .lesson_2 svg path,
.track .lesson_3 svg path,
.track .lesson_4 svg path {
    stroke: var(--text-border-color);
}

.track .lesson_1 .indicator_lesson_1,
.track .lesson_2 .indicator_lesson_2,
.track .lesson_3 .indicator_lesson_3,
.track .lesson_4 .indicator_lesson_4,
.track .congrats .indicator_congrats {
    border: 3px solid var(--indicator-border);
    border-radius: 18px;
    box-shadow: 0 0 0 2px var(--indicator-shadow);
    height: 22px;
    width: 22px;
    transition: all 0.3s ease;
    /* background: url(SVG/lock_icon.svg);*/
    background-repeat: no-repeat;
    /*background-size: contain; */
}

.track .lesson_1 .indicator_lesson_1 {
    background-color: #7cbecc;
    margin-top: 10px;
}

.track .lock {
    width: 100%;
    height: 100%;
    padding: 0px;
    align-items: center;
    display: flex;
    background-image: url("SVG/dark_lock.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.track .lesson_2 .indicator_lesson_2 {
    background-color: #ff8585;
    margin-bottom: 10px;
}

.track .lesson_3 .indicator_lesson_3 {
    background-color: #8999e0;
    margin-top: 10px;
}

.track .lesson_4 .indicator_lesson_4 {
    background-color: #5adf70;
    margin-bottom: 10px;
}

.track .congrats .indicator_congrats {
    background: #ee4a4a;
    margin-bottom: 10px;
    margin-top: 38px;
}

.track .animate__animated .mcq_btn .mcq_done {
    border: 0px;
    height: 27px;
    width: 27px;
    background-color: #09c209;
    box-shadow: none;
    background-image: url("SVG/tick-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
}


/* .track .mcq_done img {
    width: 100%;
    height: 100%;
    padding: 6px;
    display: flex;
    background-image: url("SVG/tick-mark.svg");
    background-size: contain;
    align-items: center;
} */

.track .congrats a {
    max-width: 200px;
}

.track .congrats img {
    width: 100%;
    margin-block: 1vw;
    transition: 0.5s;
}

.track .congrats img:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.track h2 {
    transition: all 0.3s ease;
}

.track .animate__animated h2:hover,
.track .lesson_1 .indicator_lesson_1:hover,
.track .lesson_2 .indicator_lesson_2:hover,
.track .lesson_3 .indicator_lesson_3:hover,
.track .lesson_4 .indicator_lesson_4:hover,
.track .congrats .indicator_congrats:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.track .lesson_1 .indicator_lesson_1:active,
.track .lesson_2 .indicator_lesson_2:active,
.track .lesson_3 .indicator_lesson_3:active,
.track .lesson_4 .indicator_lesson_4:active,
.track .congrats .indicator_congrats:active,
.track .congrats a:active {
    transform: scale(0.75);
}

@media screen and (max-width: 885px) {
    .track {
        margin-inline: auto;
        flex-direction: column;
    }
    .mcq_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .mcq_btn_r {
        flex-direction: column-reverse;
        /* margin-left: calc(50% - 100px); */
    }
    .mcq_btn_r h2 {
        margin-left: 175px;
    }
    .mcq_btn_l h2 {
        margin-right: 175px;
        margin-top: 1rem;
    }
    .track .lesson_1,
    .track .lesson_2,
    .track .lesson_3,
    .track .lesson_4,
    .track .congrats {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        align-items: center;
    }
    .track .lesson_2,
    .track .lesson_4 {
        flex-direction: column-reverse;
        /* justify-content: flex-end; */
    }
    /* .track .lesson_2 h2,
    .track .lesson_4 h2 {} */
    .track .lesson_1 .indicator_lesson_1,
    .track .lesson_2 .indicator_lesson_2,
    .track .lesson_3 .indicator_lesson_3,
    .track .lesson_4 .indicator_lesson_4 {
        left: 50vw;
    }
    .track .congrats .indicator_congrats {
        display: none;
    }
    .track .lesson_1 svg,
    .track .lesson_3 svg {
        transform: rotate(-105deg);
        width: 100px;
        margin-left: 100px;
    }
    .track .lesson_2 svg,
    .track .lesson_4 svg {
        width: 100px;
        transform: rotate(-75deg);
        margin-right: 100px;
    }
}

@media screen and (max-width: 610px) {
    .page_image {
        display: none;
    }
    .mcq_btn h2 {
        font-size: medium;
    }
    .mcq_btn_r h2 {
        margin-left: 115px;
    }
    .mcq_btn_l h2 {
        margin-right: 115px;
    }
}

@media screen and (max-width: 300px) {
    .track .animate__animated {
        height: 70px;
    }
    .track .lesson_1 svg,
    .track .lesson_3 svg,
    .track .lesson_2 svg,
    .track .lesson_4 svg {
        display: none;
    }
    .mcq_btn {
        flex-direction: row;
        justify-content: start;
    }
    .mcq_btn_l {
        flex-direction: row-reverse;
    }
    .track .lesson_1 .indicator_lesson_1,
    .track .lesson_2 .indicator_lesson_2,
    .track .lesson_3 .indicator_lesson_3,
    .track .lesson_4 .indicator_lesson_4 {
        margin: 20px;
    }
    .mcq_btn h2 {
        margin: 20px;
        font-size: medium;
    }
    .page_description {
        height: 40%;
    }
    .track {
        margin-block: 0px;
    }
    .track .lesson_2,
    .track .lesson_4,
    .track .congrats {
        margin-bottom: 10px;
    }
}