:root {
    --show-badges-text: #000000;
    --user-details-card-border-bg-color: #464545;
    --user-details-card-bg-color: #ffffff;
    --number-of-badges: #000000;
    --user-details-card-text-color: #474747;
}

.dark_theme {
    --show-badges-text: #2bc7ea;
    --user-details-card-border-bg-color: #ffffff;
    --user-details-card-bg-color: #000000;
    --number-of-badges: #ffffff;
    --user-details-card-text-color: #ffffff;
}

body {
    min-height: 100vh;
    width: 100%;
    /* overflow: scroll;
    font-family: Sniglet; */
    background: var(--mainsection-bg-color);
}

.sidenavbar ul li.badges {
    background: var(--icon-select-color);
    border-radius: 15px;
}

main {
    scroll-behavior: smooth;
    position: relative;
    width: calc(100% - 50px);
    /* height: 100vh; */
    left: 50px;
    top: 65px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: row;
    transition: all 0.5s ease;
    background-color: var(--mainsection-bg-color);
}


/* .wave { */


/* background: url(background.svg); */


/* width: 50%; */


/* height: 100%;
    position: absolute;
    z-index: 0;
} */


/* .wave .wave_one,
    .wave .wave_two {
        position: absolute;
        margin-left: -1px;
    } */

.user_details_card {
    display: flex;
    /* align-items: top; */
    flex-direction: column;
    /* justify-content: center; */
    /* width: 24.55vw;
    height: 31.54vw; */
    position: relative;
    border: 5px solid var(--user-details-card-border-bg-color);
    background: var(--user-details-card-bg-color);
    margin: 6%;
    box-shadow: 6px 6px var(--user-details-card-border-bg-color);
    font-family: Montserrat;
    color: var(--user-details-card-text-color);
    transition: all 0.3s ease;
    padding: 20px;
}

.user_details_card .user_profile_image {
    /* width: 100%;
    height: 47.31%; */
    display: flex;
    justify-content: center;
    margin: 15px;
}

.user_details_card .user_profile_image .profile_image_container {
    margin-top: 15.57%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid var(--user-details-card-border-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    background-position: center;
}

.user_details_card .number_of_badges {
    /* width: 100%;
    height: 16.55%; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
}

.user_details_card .number_of_badges svg {
    stroke: var(--number-of-badges);
}

.user_details_card .number_of_badges h1 {
    margin-right: 2%;
    font-size: 2.3125em;
}

.user_details_card .number_of_badges svg {
    margin-left: 2%;
}

.user_details_card .number_of_badges p {
    margin-left: -7.35%;
    margin-bottom: 4%;
    font-weight: 600;
    color: var(--number-of-badges);
}

.user_details_card .user_details {
    /* width: 100%;
    height: 36.14%; */
    text-align: center;
    font-family: Montserrat;
    color: var(474747);
    transition: all 0.3s ease;
    margin-block: 30px;
}

.badges_container {
    display: grid;
    width: 60%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.badges_container .badge_container {
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px;
    background: url(SVG/badge_bg_empty.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-block: 2vw;
}

.badges_container .badge_container img,
.badges_container .badge_container img.bg {
    width: 100%;
    min-width: 200px;
    /* max-width: 400px; */
    /* margin: 20px; */
    height: auto;
    margin-block: 10px;
}


/* .badges_container .badge_container:nth-child(1) { 
    background-image: url(SVG/badge_1.svg); 
}

.badges_container .badge_container:nth-child(2) {
    background-image: url(SVG/badge_2.svg);
}

.badges_container .badge_container:nth-child(3) {
    background-image: url(SVG/badge_3.svg);
} */

@media screen and (max-width:1010px) {
    main {
        flex-direction: column;
    }
    .badges_container {
        width: 80%;
    }
}

@media screen and (max-width:570px) {
    .badges_container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:455px) {
    .user_details_card .number_of_badges h1 {
        font-size: 1.5em;
    }
    .user_details_card .user_details h2 {
        font-size: 1em;
    }
}