.badge1 {
    position: fixed;
    font-family: Sniglet;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: 10;
}

.badge1-toggle {
    position: fixed;
    display: flex;
}

.badge1 img {
    height: 350px;
    animation: dance 2s ease forwards;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.527);
}

@keyframes dance {
    0% {
        height: 350px;
        opacity: 0;
    }
    60% {
        height: 400px;
        transform: translateY(-100px);
    }
    85% {
        opacity: 1;
        height: 400px;
    }
}