:root {
    --side-bar-color: #2bc7ea;
    --icon-select-color: #0087a5;
    --tool-tip-bg-color: #8d8d8d;
    --mainsection-bg-color: #ffffff;
    --padassist: #000;
    --text: #001325;
    --line: #cccccc;
    --note: #ff8a8a;
    --button: #18768b;
    --box-shadow: #3d3d3d;
    --black_white: #000;
    font-size: 20px;
}

.dark_theme {
    --side-bar-color: #000314;
    --icon-select-color: #bababa1f;
    --tool-tip-bg-color: #ffffff;
    --mainsection-bg-color: #0a0a14;
    --padassist: rgb(255, 255, 255);
    --text: #2291aa;
    --line: #3e4958;
    --note: #1d0025;
    --button: #18768b;
    --box-shadow: #2bc7ea;
    --black_white: rgba(255, 255, 255, 0.561);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--mainsection-bg-color);
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    font-family: Sniglet;
    text-align: center;
}

main {
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    width: calc(100% - 50px);
    left: 50px;
    top: 65px;
    /* transition: all 0.5s ease; */
    background: var(--mainsection-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidenavbar .menu_btn_burger::before,
.sidenavbar .menu_btn_burger::after {
    margin-left: -15px;
}

.sidenavbar ul li.tutorial {
    background: var(--icon-select-color);
    border-radius: 15px;
}

main .page {
    width: 60%;
}


/* VIDEO */

.video {
    margin-top: 30px;
    width: 100%;
    height: 33.37vw;
    /* object-fit: ; */
}


/* TITLE */

.lession_title {
    border-bottom: 3px solid var(--line);
    padding-block: 30px;
    margin-bottom: 30px;
}

.lession_title small {
    display: flex;
    align-items: flex-start;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title .videotitle {
    text-align: left;
    font-family: Montserrat;
    font-weight: bold;
    color: var(--text);
}

.title .videotitle h3 {
    font-size: 1.1rem;
}

.title .videotitle h1 {
    font-size: 1.55rem;
}

.take_test_btn,
.end_taketest_button {
    width: 45%;
    min-width: 106px;
    max-width: 300px;
    display: flex;
    justify-content: flex-end;
}

.take_test_btn,
.take_test {
    margin-left: 20px;
}

.end_btn_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
    margin-block: 3rem;
}


/* .take_test_btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
} */

.title button,
.end_taketest_button button {
    color: white;
    width: 100%;
    height: 60px;
    background-color: var(--button);
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 0.6s ease;
    box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.25);
    padding-inline: 10px;
}

.end_taketest_button button:hover,
.title button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.end_taketest_button button:active,
.title button:active {
    transform: scale(0.9);
}


/* CONTENT */

.content h2 {
    font-size: 1.5rem;
}

.content p {
    padding: 10px;
    line-height: 30px;
    font-size: 1rem;
    text-align: justify;
    color: var(--text);
}

.content .note {
    margin-block: 30px;
    background-color: var(--note);
    border-radius: 20px;
}

.content img {
    max-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

ol li::marker,
ul li::marker {
    color: var(--black_white) !important;
}

.head {
    color: var(--black_white);
}

@media screen and (max-width: 1000px) {
    main .page {
        width: 70%;
    }
    .video {
        height: 39.37vw;
    }
}

@media screen and (max-width: 800px) {
     :root {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    main .page {
        width: 90%;
    }
    .content p {
        line-height: 25px;
    }
    .video {
        height: 50vw;
    }
}

@media screen and (max-width: 480px) {
    body {
        margin: 0px;
    }
}

@media screen and (max-width: 440px) {
    .lession_title .take_test_btn {
        display: none;
    }
}