:root {
    --side-bar-color: #2bc7ea;
    --icon-hover-color: #0087A5;
    --tool-tip-bg-color: #8d8d8d;
    --profile-icon-color: #000000;
    --mainsection-bg-color: #FFFFFF;
    --text-border-color: #000000;
    --indicator-border: #FFFFFF;
    --indicator-shadow: #000000;
    --profile-icon-bg-color: #2bc7ea;
    --option-bg-color: #D0F7FF;
    --selected-option-bg-color: #67DDF6;
    --options-text-color: #000000;
    --option-color: #000000;
    --question-type-text-color: #272727;
    --question-description-color: #545454;
    --question-1-color: #FF3D3D;
    --question-2-color: #61FFD0;
    --question-3-color: #FF7BF2;
    --dot-border-color: #000000;
    --dot-fill-color: #85D3FF;
    --submit-btn-bg-color: #2BC7EA;
    --text-color: #000000;
    --draggable-option-indicator-color: #000000;
    --check-box-bg-color: #FFFFFF;
    --hover-check-box-bg-color: #98ECFF;
    --selected-check-box-bg-color: #7C7C7C;
    --dragover-bg-color: #7EE8FF;
}

.dark_theme {
    --side-bar-color: #000314;
    --icon-hover-color: #bababa1f;
    --tool-tip-bg-color: #FFFFFF;
    --profile-icon-color: #FFFFFF;
    --mainsection-bg-color: #0D0D0D;
    --text-border-color: #FFFFFF;
    --indicator-border: #000000;
    --indicator-shadow: #FFFFFF;
    --profile-icon-bg-color: #0D0D0D;
    --option-bg-color: #202020;
    --selected-option-bg-color: #474747;
    --options-text-color: #FFFFFF;
    --option-color: #FFFFFF;
    --question-type-text-color: #FFFFFF;
    --question-description-color: #FFFFFF;
    --question-1-color: #C93434;
    --question-2-color: #4C58C7;
    --question-3-color: #A5549D;
    --dot-border-color: #FFFFFF;
    --dot-fill-color: none;
    --submit-btn-bg-color: #2BC7EA;
    --text-color: #FFFFFF;
    --draggable-option-indicator-color: #FFFFFF;
    --check-box-bg-color: #606060;
    --hover-check-box-bg-color: #303030;
    --selected-check-box-bg-color: #57F5FF;
    --dragover-bg-color: #303030;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body::-webkit-scrollbar, .main::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    font-family: Sniglet;
    display: flex;
    user-select: none;
    background: var(--mainsection-bg-color);
}

main {
    scroll-behavior: smooth;
    width: calc(100% - 50px);
    margin-left: 50px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    background: var(--mainsection-bg-color);
}

.main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82vw;
    justify-content: space-between;
}

.question_type {
    width: 26.2vw;
    display: flex;
    flex-direction: column;
}

.question_type svg path {
    fill: var(--dot-border-color);
}

.question_type h1 {
    font-size: 3.6vw;
    color: var(--question-type-text-color);
}

.question_type h2 {
    font-size: 2.9vw;
    color: var(--text-color);
}

.question_type p {
    font-size: 1.46vw;
    width: 60%;
    line-height: 1.8vw;
    color: var(--question-description-color);
    margin-block: 2vw;
}

.question_type img {
    width: 13.3vw;
    height: 13.6vw;
    margin-top: 0.5vh;
}

.current_question_number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 2px solid var(--text-border-color);
    padding-right: 2vw;
    margin-inline: 2vw;
}

.question_number_indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.question_number_bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 6.2vw;
    height: 6.2vw;
    border-radius: 50%;
    font-size: 25px;
    color: var(--text-color);
    transition: all 0.3s ease;
}

.current_question_number #question_one {
    background: var(--question-1-color);
    margin-bottom: 5px;
}

.current_question_number #question_two {
    background: var(--question-2-color);
    margin-block: 5px;
}

.current_question_number #question_three {
    background: var(--question-3-color);
    margin-top: 5px;
}

.three_dots {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dot {
    width: 1vw;
    height: 1vw;
    background: var(--dot-fill-color);
    border: 2px solid var(--dot-border-color);
    border-radius: 50%;
    margin-block: 5px;
    transition: all 0.3s ease;
}

.question_and_options {
    width: 41.87vw;
    display: flex;
    flex-direction: column;
}

.question_and_options .question {
    margin-bottom: 0.5vw;
}

.question_and_options .question question {
    font-size: 1.7em;
    line-height: 1.1em;
    color: var(--text-color);
}

.question_and_options .single_correct_options_container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5vw;
}

.question_and_options .single_correct_options_container .single_correct_option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 40.99vw;
    min-height: 4.09vw;
    height: fit-content;
    background: var(--option-bg-color);
    margin-block: 0.5vw;
    border-radius: 0.7vw;
    padding-block: 0.5vw;
    padding-inline: 0.4vw;
    user-select: none;
    transition: all 0.3s ease;
}

.question_and_options .single_correct_options_container .single_correct_option:hover {
    cursor: pointer;
    background: var(--hover-check-box-bg-color);
}

.question_and_options .single_correct_options_container .single_correct_option.selected {
    cursor: pointer;
    background: var(--selected-option-bg-color);
    transition: all 0.3s ease;
}

.question_and_options .single_correct_options_container .single_correct_option input {
    width: 3.2vw;
    height: 3.2vw;
    z-index: 5;
    transition: all 0.3s ease;
}

.question_and_options .single_correct_options_container .single_correct_option input:hover {
    cursor: pointer;
}

.question_and_options .single_correct_options_container .single_correct_option_radio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25vw;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
}

.question_and_options .single_correct_options_container input::before {
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 0.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
    color: var(--text-color);
    font-family: Sniglet;
    transition: all 0.3s ease;
}

.question_and_options .single_correct_options_container .single_correct_option h1 {
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 1.1vw;
    margin-top: 0.2vw;
    width: 3vw;
    height: 3vw;
}

.question_and_options .single_correct_options_container .single_correct_option .single_correct_option_value {
    width: 37.99vw;
    margin-inline: 1vw;
}

.question_and_options .single_correct_options_container .single_correct_option h2 {
    font-size: 25px;
    font-weight: 400;
    color: var(--text-color);
}

.question_and_options .single_correct_options_container input#single_correct_option_one::before {
    content: "1";
    background: #FF7A7A;
}

.question_and_options .single_correct_options_container input#single_correct_option_two::before {
    content: "2";
    background: #3971FF;
}

.question_and_options .single_correct_options_container input#single_correct_option_three::before {
    content: "3";
    background: #FF7AB2;
}

.question_and_options .single_correct_options_container input#single_correct_option_four::before {
    content: "4";
    background: #00A3FF;
}

.question_and_options .single_correct_options_container .single_right,
.question_and_options .single_correct_options_container .single_wrong {
    width: 3vw;
    height: 3vw;
    z-index: 7;
    position: absolute;
    border-radius: 0.4vw;
    display: none;
    margin: 0.2vw;
    padding: 0.5vw;
}

.question_and_options .single_correct_options_container .single_right {
    background: #00C271;
    transition: display 0.3s ease;
}

.question_and_options .single_correct_options_container .single_wrong {
    background: #FF3333;
    transition: display 0.3s ease;
}

.dragable_options_container {
    display: none;
    flex-direction: column;
    margin-top: 0.5vw;
}

.question_and_options .draggable_options_container .draggable_option {
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 41.8vw;
    height: fit-content;
    /* background: var(--option-bg-color); */
    margin-block: 0.5vw;
    border-radius: 0.7vw;
    padding-block: 0.3vw;
    /* padding-inline: 0.4vw; */
    user-select: none;
}

.question_and_options .draggable_options_container .draggable_option_one,
.question_and_options .draggable_options_container .draggable_option_two,
.question_and_options .draggable_options_container .draggable_option_three,
.question_and_options .draggable_options_container .draggable_option_four {
    width: 4.09vw;
    height: 4.09vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.045vw;
    color: var(--text-color);
}

.question_and_options .draggable_options_container .draggable_option_one {
    background: #FF7A7A;
}

.question_and_options .draggable_options_container .draggable_option_two {
    background: #3971FF;
}

.question_and_options .draggable_options_container .draggable_option_three {
    background: #FF7AB2;
}

.question_and_options .draggable_options_container .draggable_option_four {
    background: #00A3FF;
}

.question_and_options .draggable_options_container .draggable_option_indicator {
    width: 1.1vw;
    height: 5px;
    background: var(--draggable-option-indicator-color);
    border-radius: 999px;
}

.question_and_options .draggable_options_container .draggable_option_indicator.right {
    background: #00C271;
    transition: all 0.3 s ease;
}

.question_and_options .draggable_options_container .draggable_option_indicator.wrong {
    background: #FF3333;
    transition: all 0.3 s ease;
}

.question_and_options .draggable_options_container .draggable_option_value {
    width: 34.77vw;
    min-height: 4.09vw;
    height: fit-content;
    background: var(--option-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2.045vw;
    padding-inline: 1.5vw;
    padding-block: 0.7vw;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.5em;
}

.question_and_options .draggable_options_container .draggable_option_value.drag_over {
    background: var(--dragover-bg-color);
}

.question_and_options .draggable_options_container .draggable_option_value.right {
    background: #00C271;
    transition: all 0.3s ease;
}

.question_and_options .draggable_options_container .draggable_option_value.wrong {
    background: #FF3333;
    transition: all 0.3s ease;
}


.question_and_options .draggable_options_container .draggable_option_value h2 {
    font-size: 25px;
    font-weight: 400;
}

.question_and_options .draggable_options_container .draggable_option_value:hover {
    cursor: pointer;
    background: var(--hover-check-box-bg-color);
}

.question_and_options .multi_correct_options_container {
    display: none;
    flex-direction: column;
    margin-top: 0.5vw;
}

.question_and_options .multi_correct_options_container .multi_correct_option {
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 40.99vw;
    height: fit-content;
    background: var(--option-bg-color);
    margin-block: 0.5vw;
    border-radius: 0.7vw;
    padding-block: 0.3vw;
    padding-inline: 0.4vw;
    user-select: none;
    transition: all 0.3s ease;
}

.question_and_options .multi_correct_options_container .multi_correct_option:hover {
    cursor: pointer;
    background: var(--hover-check-box-bg-color);
}

.question_and_options .multi_correct_options_container .multi_correct_option.selected {
    cursor: pointer;
    background: var(--selected-option-bg-color);
}

.question_and_options .multi_correct_options_container .check_box {
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4vw;
    margin: 0.25vw;
}

.question_and_options .multi_correct_options_container input::before {
    position: absolute;
    content: "";
    height: 3vw;
    width: 3vw;
    background: var(--check-box-bg-color);
    border-radius: 0.4vw;
    cursor: pointer;
    transition: 0.3s all ease;
}

.question_and_options .multi_correct_options_container input:checked::before {
    background: var(--selected-check-box-bg-color);
}

.question_and_options .multi_correct_options_container input:hover {
    cursor: pointer;
    background: #E2E2E2;
}

.question_and_options .multi_correct_options_container .multi_right,
.question_and_options .multi_correct_options_container .multi_wrong {
    width: 3vw;
    height: 3vw;
    z-index: 5;
    position: absolute;
    border-radius: 0.4vw;
    display: none;
    margin: 0.11vw;
    padding: 0.5vw;
}

.question_and_options .multi_correct_options_container .multi_right {
    background: #00C271;
    transition: display 0.3s ease;
}

.question_and_options .multi_correct_options_container .multi_wrong {
    background: #FF3333;
    transition: display 0.3s ease;
}

.question_and_options .multi_correct_options_container .multi_correct_option .multi_correct_option_value {
    width: 37.99vw;
    margin-inline: 1vw;
}

.question_and_options .multi_correct_options_container .multi_correct_option .multi_correct_option_value:hover {
    cursor: pointer;
}

.question_and_options .multi_correct_options_container .multi_correct_option h2 {
    font-size: 25px;
    font-weight: 400;
    color: var(--text-color);
}

.submit_btn {
    width: 82vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2vw;
    /* margin-bottom: 2vw; */
}

.submit_btn input[type="submit"] {
    height: 2.56vw;
    width: 8.12vw;
    background: var(--submit-btn-bg-color);
    color: var(--text-color);
    font-size: 1.5vw;
    font-family: Sniglet;
    border: none;
    outline: none;
    border-radius: 1.32vw;
    transition: box-shadow 0.1s, background 0.8s;
    font-weight: 600;
    background-position: center;
}

.submit_btn input[type="submit"]:hover {
    cursor: pointer;
    background-color: #47a7f5;
    background-image: radial-gradient(circle,transparent 1%,#47a7f5 1%);
    background-position: center;
    background-size: 15000%;
    /* box-shadow: 0px 0px 5px  var(--shadow-color); */
}

.submit_btn input[type="submit"]:active {
    transition: background 0s;
    background-color: #6eb9f7;
    background-size: 100%;
}

@media only screen and (max-width: 768px) {
    main {
        left: 0;
        top: 50px;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 45px !important;
        padding-top: 20px;
        padding-bottom: 40px;
        /* height: calc(100vh - 50px - 45px); */
        /* overflow: scroll; */
    }

    .main_container {
        /* height: 100%; */
        flex-direction: column;
        width: 100vw;
        overflow: scroll;
    }

    .main_container::-webkit-scrollbar {
        display: none;
    }

    .question_type {
        width: 100%;
        align-items: center;
    }

    .question_type .question_type_name {
        width: 79.375vw;
        font-size: 5.3125vw;
    }

    .question_type h1,
    .question_type svg {
        display: none;
    }

    .question_type .question_type_description {
        display: none;
    }

    .current_question_number {
        border: 0;
        flex-direction: row;
        margin-block: 7.96875vw;
        margin-inline: 0;
    }

    .current_question_number .question_number_indicator {
        flex-direction: row;
    }

    .question_number_bubble {
        width: 12.5vw;
        height: 12.5vw;
    }

    .question_number_bubble h1 {
        font-size: 8.125vw;
    }

    .three_dots {
        flex-direction: row;
        margin-inline: 3.75vw;
    }

    .three_dots .dot {
        width: 1.875vw;
        height: 1.875vw;
        margin: 0;
        border-width: 1px;
    }

    .dot:nth-child(2) {
        margin-inline: 4.0625vw;
    }

    .question_and_options {
        width: 79.375vw;
    }

    .question_and_options .question {
        margin-bottom: 1.4375rem;
    }

    .question_and_options .question question {
        font-size: 5.5vw;
    }

    .question_and_options .single_correct_options_container .single_correct_option,
    .question_and_options .draggable_options_container .draggable_option,
    .question_and_options .multi_correct_options_container .multi_correct_option {
        width: 100%;
        margin-block: 0.625rem;
        border-radius: 0.5rem;
    }

    .question_and_options .single_correct_options_container .single_right, 
    .question_and_options .single_correct_options_container .single_wrong,
    .question_and_options .multi_correct_options_container .multi_right, 
    .question_and_options .multi_correct_options_container .multi_wrong {
        width: 2.25rem;
        height: 2.25rem;
        margin: 0.2rem;
        padding: 0.5625rem;
        border-radius: 1.5625vw;
    }

    .question_and_options .single_correct_options_container .single_correct_option input,
    .question_and_options .multi_correct_options_container .check_box {
        width: 2.10rem;
        height: 2.10rem;
    }

    .question_and_options .single_correct_options_container .single_correct_option input::before,
    .question_and_options .multi_correct_options_container input::before {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 1.5625vw;
        font-size: 6.25vw;
    }

    .question_and_options .single_correct_options_container .single_correct_option_radio,
    .question_and_options .multi_correct_options_container .check_box {
        margin: 0.3125rem;
    }

    .question_and_options .single_correct_options_container .single_correct_option .single_correct_option_value {
        width: 62.5vw;
    }

    .question_and_options .single_correct_options_container .single_correct_option .single_correct_option_value h2 {
        font-size: 5.3125vw;
    }

    .question_and_options .draggable_options_container .draggable_option_one, 
    .question_and_options .draggable_options_container .draggable_option_two, 
    .question_and_options .draggable_options_container .draggable_option_three, 
    .question_and_options .draggable_options_container .draggable_option_four {
        width: 9.375vw;
        height: 9.375vw;
        border-radius: 1000px;
    }

    .question_and_options .draggable_options_container .draggable_option_one h1, 
    .question_and_options .draggable_options_container .draggable_option_two h1, 
    .question_and_options .draggable_options_container .draggable_option_three h1, 
    .question_and_options .draggable_options_container .draggable_option_four h1 {
        font-size: 5.9375vw;
    }

    .question_and_options .draggable_options_container .draggable_option_indicator {
        width: 3.4375vw;
    }

    .question_and_options .draggable_options_container .draggable_option_value {
        width: 62.5vw;
        padding-inline: 3.75vw;
        padding-block: 2.8125vw;
        border-radius: 1000px;
        line-height: 4vw;
    }

    .question_and_options .draggable_options_container .draggable_option_value h2,
    .question_and_options .draggable_options_container .draggable_option_value .fas {
        font-size: 4.375vw;
    }

    .submit_btn input[type="submit"] {
        width: 29.0625vw;
        height: 8.75vw;
        font-size: 4.6875vw;
        border-radius: 100px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    main {
        /* padding: 0; */
        margin: 0;
        margin-left: 50px;
        margin-top: 65px;
    }
    .main_container {
        width: calc(100vw - 50px);
    }

    .question_type .question_type_name {
        width: 63.2016632vw;
        font-size: 4.15800416vw;
    }

    .current_question_number {
        padding: 0;
        margin-block: 7.5vw;
    }

    .question_number_bubble {
        width: 10.3950104vw;
        height: 10.3950104vw;
    }

    .question_number_bubble#question_one,
    .question_number_bubble#question_two,
    .question_number_bubble#question_three {
        margin: 0;
    }

    .question_number_bubble h1 {
        font-size: 7.06860707vw;
    }

    .three_dots {
        margin-inline: 3.32640333vw;
    }

    .three_dots .dot:nth-child(2) {
        margin-inline: 2.49480249vw;
    }

    .question_and_options {
        width: 63.2016632vw;
    }

    .question_and_options .question question {
        font-size: 4.78170478vw;
    }

    .question_and_options .single_correct_options_container .single_correct_option {
        padding: 0;
        padding-inline: 0.5vw;
    }

    .question_and_options .single_correct_options_container .single_correct_option input,
    .question_and_options .multi_correct_options_container .check_box {
        width: 6.58544699vw;
        height: 6.58544699vw;
    }

    .question_and_options .single_correct_options_container .single_correct_option_radio,
    .question_and_options .multi_correct_options_container .check_box {
        margin: 0.5rem;
    }

    .question_and_options .single_correct_options_container .single_correct_option input::before,
    .question_and_options .multi_correct_options_container input::before {
        width: 7.48440748vw;
        height: 7.48440748vw;
        font-size: 4.98960499vw;
    }

    .question_and_options .single_correct_options_container .single_right, 
    .question_and_options .single_correct_options_container .single_wrong,
    .question_and_options .multi_correct_options_container .multi_right, 
    .question_and_options .multi_correct_options_container .multi_wrong {
        width: 7.48440748vw;
        height: 7.48440748vw;
        margin: 0.2rem;
        padding: 0.5625rem;
        border-radius: 1.5625vw;
    }

    .question_and_options .multi_correct_options_container .multi_right, 
    .question_and_options .multi_correct_options_container .multi_wrong {
        margin: 0.4rem;
    }

    .question_and_options .single_correct_options_container .single_correct_option .single_correct_option_value h2 {
        font-size: 4.65696466vw;
    }

    .question_and_options .draggable_options_container .draggable_option_one, 
    .question_and_options .draggable_options_container .draggable_option_two, 
    .question_and_options .draggable_options_container .draggable_option_three, 
    .question_and_options .draggable_options_container .draggable_option_four {
        width: 7.48440748vw;
        height: 7.48440748vw;
        border-radius: 1000px;
    }

    .question_and_options .draggable_options_container .draggable_option_one h1, 
    .question_and_options .draggable_options_container .draggable_option_two h1, 
    .question_and_options .draggable_options_container .draggable_option_three h1, 
    .question_and_options .draggable_options_container .draggable_option_four h1 {
        font-size: 3.95010395vw;
    }

    .question_and_options .draggable_options_container .draggable_option_indicator {
        width: 2.28690229vw;
    }

    .question_and_options .draggable_options_container .draggable_option_value {
        width: 51.975052vw;
    }

    .question_and_options .draggable_options_container .draggable_option_value h2,
    .question_and_options .draggable_options_container .draggable_option_value .fas {
        font-size: 4.15800416vw;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .question_and_options .single_correct_options_container .single_right, .question_and_options .single_correct_options_container .single_wrong, .question_and_options .multi_correct_options_container .multi_right, .question_and_options .multi_correct_options_container .multi_wrong {
        margin: 0.15rem;
    }

    .question_and_options .single_correct_options_container .single_correct_option input::before,
    .question_and_options .multi_correct_options_container input::before {
        width: 7.48440748vw;
        height: 7.48440748vw;
        border-radius: 0.5625vw;
        font-size: 4.98960499vw;
    }

    .question_and_options .single_correct_options_container .single_right, 
    .question_and_options .single_correct_options_container .single_wrong,
    .question_and_options .multi_correct_options_container .multi_right, 
    .question_and_options .multi_correct_options_container .multi_wrong {
        width: 7.48440748vw;
        height: 7.48440748vw;
        margin: 0.2rem;
        padding: 0.5625rem;
        border-radius: 0.5625vw;
    }

    .question_and_options .multi_correct_options_container .multi_right, 
    .question_and_options .multi_correct_options_container .multi_wrong {
        margin: 0.4rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .question_type h1 {
        font-size: 3.59960937vw;
    }

    .current_question_number .question_number_indicator .question_number_bubble h1 {
        font-size: 3.5vw;
    }
    .question_and_options .question question {
        font-size: 2.65625vw;
    }

    .question_and_options .single_correct_options_container .single_correct_option_value h2 {
        font-size: 2.44140625vw;
    }

    .question_and_options .single_correct_options_container 
    input#single_correct_option_one::before,
    input#single_correct_option_two::before,
    input#single_correct_option_three::before {
        font-size: 2.44140625vw;
    }
}