:root {
    --side-bar-color: #2bc7ea;
    --icon-hover-color: #0087A5;
    --tool-tip-bg-color: #8d8d8d;
    --profile-icon-color: #000000;
    --mainsection-bg-color: #FFFFFF;
    --text-border-color: #000000;
    --indicator-border: #FFFFFF;
    --indicator-shadow: #000000;
    --shadow-color: #00E0FF;
    --video-thumbnail-shadow-color: #00000085;
}

.dark_theme {
    --side-bar-color: #000314;
    --icon-hover-color: #bababa1f;
    --tool-tip-bg-color: #FFFFFF;
    --profile-icon-color: #FFFFFF;
    --mainsection-bg-color: #000000;
    --text-border-color: #FFFFFF;
    --indicator-border: #000000;
    --indicator-shadow: #FFFFFF;
    --shadow-color: #ffffff2f;
    --video-thumbnail-shadow-color: #58ecff9a;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body::-webkit-scrollbar, .main::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    font-family: Sniglet;
    display: flex;
}

main {
    scroll-behavior: smooth;
    height: calc(100% - 65px);
    width: calc(100% - 50px);
    left: 50px;
    top: 65px;
    display: flex;
    background-color: var(--mainsection-bg-color);
    transition: all 0.5s ease;
    background: var(--mainsection-bg-color);
}

.sidenavbar ul li.tutorial {
    background: var(--icon-hover-color);
    border-radius: 15px;
}

.page_description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
} 

.page_bg {
    width: 100%;
    height: 100%;
    background: url(tutorialbg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    font-size: 45px;
    filter: blur(2px);
}

.page_name {
    position: absolute;
    font-size: 40px;
    color: #FFFFFF;
}

.videos {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw;
}

.videos_row_1, .videos_row_2 {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.videos_row_1 {
    padding-bottom: 1.5vw;
}

.videos_row_2 {
    padding-top: 1.5vw;
}

.lesson_container {
    width: 50vh;
    height: 28vh;
    transition: all 0.5s ease;
}

.lesson_container img {
    width: 100%;
    height: 100%;
}

.lesson_container:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px var(--video-thumbnail-shadow-color);
}

